@import './normalize';
@import './components/header';
@import './components/middleScreen';
@import './components/slider';
@import './components//modal';

.active {
    overflow: hidden;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1350px) {
        max-width: 1000px;
    }

    @media (max-width: 1150px) {
        max-width: 800px;
    }

    @media (max-width: 900px) {
        max-width: 600px;
    }

    @media (max-width: 700px) {
        max-width: 70%;
    }

}